body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}
#bodyindex {
    background-image: url("./fondo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/* ---- Index ---- */

.divlogo {
    margin-left: 42%;
}
.logoindex {
    position: relative;
    float: left;
    width: 25%;
    border-radius: 20%;
}
.imglogin {
    position: relative;
    float: left;
    margin-top: 5%;
    width: 3.5%;
    cursor: pointer;
}
.index {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10%;
}
.pindex {
    font-size: 130%;
    text-decoration: underline;
}
.fotosindex {
    background-color: red;
    width: 60%;
    transition-duration: .1s;
}
.fotosindex:hover {
    width: 63%;
    transition-duration: .1s;
    margin: -3%;
}

.input {
    font-size: 80%;
    margin: 1%;
}
.claves {
    display: none;
    margin: auto;
    font-size: 80%;
}
.submit {
    font-size: 70%;
    margin: .5%;
}
.otro {
    font-size: 60%;
    margin: .5%;
}
.pisos {
    position: relative;
    float: left;
    width: 25%;
    margin: 1%;
    padding: 1%;
    font-size: 100%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
.value {
    border: 0;
    width: 100%;
    font-size: 100%;
}