body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    background-image: url(./fondo2.jpg);
    background-size: 100%;
}

/* ---- Index ---- */

.divlogo {
    margin-left: 42%;
}
.logoindex {
    position: relative;
    float: left;
    width: 25%;
    border-radius: 20%;
}
.imglogin {
    position: relative;
    float: left;
    margin-top: 5%;
    width: 3.5%;
    cursor: pointer;
}
.index {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10%;
}
.pindex {
    font-size: 130%;
    text-decoration: underline;
}
.fotosindex {
    width: 60%;
    transition-duration: .1s;
}
.fotosindex:hover {
    width: 63%;
    transition-duration: .1s;
    margin: -3%;
}
.input {
    font-size: 90%;
    margin: .5%;
}
.claves {
    display: none;
    margin: auto;
    font-size: 80%;
}
.submit {
    font-size: 80%;
    font-weight: 600;
    margin: .5%;
    padding: .5%;
    border-radius: 5px;
    background-color: gray;
    color: white;
    cursor: pointer;
}
.otro {
    font-size: 60%;
    margin: .5%;
}
.pisos {
    position: relative;
    float: left;
    width: 25%;
    margin: 1%;
    padding: 1%;
    font-size: 100%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
.value {
    border: 0;
    width: 100%;
    font-size: 100%;
}
.alertas {
    text-align: center;
    color: red;
    font-size: 120%;
}
.home {
    display: block;
    margin: auto;
    margin-top: 2%;
    width: 5%;
    border-radius: 10%;
}

/* ----- backend ----- */

.backend {
    margin-top: 5%;
}
a {
    text-decoration: none;
    color: black;
}
#volver {
    padding: .2%;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
}
#cuerpotabla {
    width: 100%;
}
#table{
    margin: auto;
    text-align: center;
    font-size: 110%;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#volver1{
    text-align: left;
}